<h2 class="page-header"><%= user.name %></h2>
<h2><%= user.email %></h2>
<div class="btn-row">
    <a href="/users/<%= user.id %>/edit" class="btn btn-primary">Edit</a>
    <%- include('../partials/deleteForm', { url: `users/${user.id}`}) %>
</div>
<% if (productsByUser.length > 0) { %>
    <h2>Products by User</h2>

        <% productsByUser.forEach(product => { %>
            <img height="150" width="100" src="<%= product.imagePath %>">
        <% }) %> 

<% } %>