<h2 class="page-header"><%= user.name %></h2>
<h2><%= user.email %></h2>
<a href="/users/<%= user.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `users/${user.id}`}) %>

<% if (productsByUser.length > 0) { %>
    <h2>Products by User</h2>

        <% productsByUser.forEach(product => { %>
            <img height="150" width="100" src="<%= product.imagePath %>">
        <% }) %> 

<% } %>