<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= product.title %>">
    </div>
    <div class="form-item">
        <label>User</label>
        <select name="user">
            <% users.forEach(user => { %>
                <% if(user.id === product.user) { %> 
                    <option selected label="<%= user.name %>" value="<%= user.id %>">
                <% } else { %>
                    <option label="<%= user.name %>" value="<%= user.id %>">
                <% } %>
            <% }) %>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Created Date</label>
        <input type="date" name="createdAt" 
            value="<%= product.createdAt == null ? '' :
            product.createdAt.toISOString().split('T')[0] %>"> 
    </div>
    <div class="form-item">
        <label>Barty Value</label>
        <input type="number" name="bartyValue" value="<%= product.bartyValue %>"> 
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Image</label>
        <input type="file" name="Image" class="filepond"> 
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= product.description %></textarea>
    </div>
</div>
