<h2 class="page-header" ><%= product.title %></h2>
<div class="product-details">
    <div>
        <img class="product-image" src="<%= product.imagePath %>">
        <div class="product-details-btn-grid">
            <a href="/products/<%= product.id %>/edit" class="btn btn-primary">Edit</a>
            <%- include('../partials/deleteForm', { url: `/products/${product.id}` }) %>
            <a href="/users/<%= product.user.id %>" class="btn btn-primary product-details-user-button">View User</a>
        </div>     
    </div>
    <div class="product-details-grid">
        <div class="product-details-label">User:</div>
        <div><%= product.user.name %></div>

        <div class="product-details-label">Publish Date:</div>
        <div><%= product.createdAt.toDateString() %></div>

        <div class="product-details-label">Barty Value:</div>
        <div><%= product.bartyValue %></div>

        <div class="product-details-label">Description:</div>
        <div><%= product.description %></div>
    </div>
    

</div>
